<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>RADROOTS_IOS_UI_TEST_RUN_ID</key>
	<string>$(RADROOTS_IOS_UI_TEST_RUN_ID)</string>
	<key>RADROOTS_IOS_UI_TEST_NOSTR_RELAY_URLS</key>
	<string>$(RADROOTS_IOS_UI_TEST_NOSTR_RELAY_URLS)</string>
	<key>RADROOTS_IOS_UI_TEST_BLOSSOM_ORIGINS</key>
	<string>$(RADROOTS_IOS_UI_TEST_BLOSSOM_ORIGINS)</string>
	<key>RADROOTS_IOS_UI_TEST_FIXTURE_CONTROL</key>
	<string>$(RADROOTS_IOS_UI_TEST_FIXTURE_CONTROL)</string>
	<key>RADROOTS_IOS_UI_TEST_NETWORK_PROFILE</key>
	<string>$(RADROOTS_IOS_UI_TEST_NETWORK_PROFILE)</string>
</dict>
</plist>
